/autom4te.cache/
.deps/
.libs/
*.lo
*.o
*.la
.dirstamp
*.exe
Makefile
!/Makefile
/config.log
/config.status
/curl-config
/include/curl/stamp-h2
/lib/curl_config.h
/lib/libcurl.vers
/lib/stamp-h1
/libcurl.pc
/libtool
/packages/AIX/RPM/curl.spec
/packages/EPM/curl.list
/packages/Linux/RPM/curl-ssl.spec
/packages/Linux/RPM/curl.spec
/tests/configurehelp.pm
